.zamorozkaNotAvailable {
  border: none;
  background-color: #e3e3e3;
  height: 20px;
  border-radius: 10px;
  font-size: 0.9rem;
  margin-bottom: 5px;
  display: none;
}
.zamorozkaActivate {
  /*border-width: 2px;
  border-style: solid;*/
  border: none;
  background-color: #6cf;
  //height: 30px;
  padding: 6px;
  border-radius: 10px;
  font-size: 0.9rem;
  font-weight: bold;
  margin-bottom: 5px;
  color: white;
 }