.helpMenu {
  font-weight: normal;
}

.blockCourse {
  display: flex;
  border-radius: 10px;
  background-color: #efefef;
  margin-top: 4px;
}

.name {
  flex-grow: 1;
  margin-left: 5px;
}
.buttonConnect {
  //display: inline-block;
  display: block;
  margin-left: 1%;
  margin-right: 5%;
}

.button {
  top: 35%;
  position: relative;
  margin: auto;
  text-decoration: none;
  border: 0;
  border-radius: 50px;
  background-color: #ccc;
  color: white;
  background: #FF4D4D;
  padding: 6% 12%;
  font-size: 18px;
  white-space: nowrap;
}
/*
@media screen and (max-width: 650px) {
  .buttonConnect {
    margin-right: 7%;
    margin-bottom: 6%;
  }
}*/
@media screen and (max-width: 550px) {
  .buttonConnect {
    margin-right: 7%;
  }
}
@media screen and (max-width: 460px) {
  .buttonConnect {
    margin-right: 10%;
  }
  .name {
    font-size: 1em;
  }
  .button {
    font-size: 16px;
  }
  .buttonDivRedirect {
    margin-top: 15px;
  }
}

@media screen and (max-width: 360px) {
  .name {
    font-size: 0.9em;
  }
  .button {
    font-size: 14px;
  }
}

.w {
  position: relative;
}
.button:hover {
  background: #CC0000;
}
.button:focus {
  background: #FB9191;
}

.buttonDivRedirect {
  display: flex;
  justify-content: center;
  margin-left: 1%;
  margin-right: 5%;
  margin-top: 30px;
  margin-bottom: 3%;
}
.buttonRedirect {
  position: relative;
  margin: auto;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  border-radius: 50px;
  background-color: #ccc;
  color: white;
  background: #FF4D4D;
  padding: 10px 15px;
  font-size: 18px;
}

.buttonRedirect:hover {
  background: #CC0000;
}
.buttonRedirect:focus {
  background: #FB9191;
}