
.answer {
  padding: 4px;
  padding-left: 0;
  margin-left: 0;
  margin-top: 10px;
  display: flex;
  align-items: center;
  min-width: 150px;
  height: 20px;
  margin-bottom: 5px;
}

.solution {
  width: 100%;
  border-top-width: 1px;
  border-top-color: grey;
  border-top-style: solid;
  /*border-bottom-width: 1px;
  border-bottom-color: grey;
  border-bottom-style: solid;*/
  white-space: pre-wrap;
  font-weight: normal;
}

.zagolovoc {
  margin-top: 0;
  margin-bottom: 10px;
  border-bottom-color: gray;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding-bottom: 5px;
}
@media screen and (max-width: 420px) {
  .zagolovoc h2 {
    font-size: 1.2em;
  }
  .zagolovoc p {
    font-size: 0.8em;
  }
}

.answers {
  margin-top: 15px;
  display: flex;
  font-weight: normal;
  align-items: flex-end;
}
.answers * {
  margin:0;
}
.inpGr {
  color: green;
  padding: 3px;
  min-width: 150px;
  font-weight: normal;
}
.inpRed {
  color: red;
  padding: 3px;
  min-width: 150px;
  font-weight: normal;
}
.text {
  font-weight: normal;
  white-space: pre-wrap;
  //word-wrap: break-word;
}

