.text {
  //font-weight: normal;
}

.inp {
  height: 20px;
  border-width: 2px;
  border-color: grey;
}
.answer {
  margin-top: 10px;
  //border-top-width: 1px;
  //border-top-style: solid;
  display: flex;
  align-items: center;
}