.block {
  display: flex;
  border: 1px solid gray;
  border-radius: 10px;
  justify-content: center;
  align-content: flex-start;
  margin: 10px;
}

.checkboxDiv {
  height: 100%;
  padding: 15px;
  margin-top: auto;
  margin-bottom: auto;
}

@media screen and (max-width: 360px) {
  .checkboxDiv {
    padding-left: 5px;
    padding-right: 10px;
  }
}
.checkbox {
  width: 1.3em;
  height: 1.3em;
}
.checkbox input {
  top: 50%;
}

.period {
  font-size: 0.7rem;
  color: #6c6c6c;
  margin-top: 0;
  padding-top: 0;
}
.name {
  margin-top: 0.7em;
  margin-bottom: 0;
  padding-bottom: 0;
  margin-right: 5px;
}

.pysto {
  flex-grow: 1;
}

.price {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 7px;
  text-align: right;
}

.infDiv {
  margin-top: auto;
  margin-bottom: auto;
}


.BuyAllPerDiv {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.PBuyAllPer {
  text-align: center;
  font-size: 1rem;
  color: #6c6c6c;
  margin: 0;
  padding: 0;
}
.skidka {
  font-size: 0.6em;
  color: red;
  margin: 0;
  margin-left: 1px;
  margin-right: 5px;
  padding-left: 0.5px;
  padding-right: 0.5px;
  /*padding-top: 0.7px;
  padding-bottom: 0.1px;*/
  font-weight: bold;
  border-width: 0.1ex;
  border-style: solid;
  border-color: red;
  border-radius: 5px;
}


@media screen and (max-width: 460px) {
  .name {
    font-size: 0.9rem;
  }
  .price {
    font-size: 0.7rem;
  }
  .period {
    font-size: 0.56rem;
  }
  .checkbox {
    width: 1.1em;
    height: 1.1em;
  }
  .block {
    margin: 2px;
    margin-top: 10px;
  }
  .PBuyAllPer {
    font-size: 0.55rem;
  }
  .skidka {
    font-size: 0.4rem;
    padding-top: 0.3px;
    padding-bottom: 0.4px;
  }
}

.endPrice {
  text-align: right;
  color: #868686;
  padding: 0;
  margin: 0;
}
.delOldPrice {
  text-decoration: line-through;
  text-decoration-color: red;

}