.buttonConnect {
  //display: inline-block;
  display: flex;
  justify-content: center;
  margin: 20px;
}
.disButton {
  position: relative;
  margin: auto;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  border-radius: 10px;
  background-color: #ccc;
  color: white;
  background: #fd7c7c;
  padding: 6px 12px;
  font-size: 24px;
}
.button {
  position: relative;
  margin: auto;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  border-radius: 10px;
  background-color: #ccc;
  color: white;
  background: #ea1e1e;
  padding: 6px 12px;
  font-size: 24px;
}

.button:hover {
  background: #CC0000;
}
.button:focus {
  background: #FB9191;
}

.discountDiv {
  display: flex;
  color: red;
}
.discountDiv * {
  margin-bottom: 0.3rem;
  margin-top: 0;
  padding: 0;
}

.amountDiv {
  display: flex;
  border-top-style: solid;
  border-top-width: 0.3px;
  border-top-color: black;
}
.amountDiv * {
  margin-top: 0.3rem;
  font-size: 1.8rem;
}

.total {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 15px;
}

@media screen and (max-width: 460px) {
  .amountDiv * {
    font-size: 1.3rem;
  }
  .discountDiv * {
    font-size: 1rem;
  }
}

.promoCodeButton {
  border: none;
  background-color: #2196F3;
  box-shadow: 0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);
  color: white;
  border-radius: 0 4px 4px 0;
  padding: 4px;
}

.promoCodeInp {
  outline:none;
  margin-left: 2px;
  border: none;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px 0 0 4px;
  border-color: #2196F3;
}

.inActivePromoCodeButton {
  border: none;
  background-color: #ababab;
  box-shadow: 0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);
  color: white;
  border-radius: 0 4px 4px 0;
}

.inActivePromoCodeInp {
  outline:none;
  margin-left: 2px;
  border: none;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px 0 0 4px;
  border-color: #ababab;
  border-right: none;
}

.authBut {
  font-size: 0.9rem;
  text-decoration: none;
  padding: 3px;
  //margin-left: 5px;
  background-color: red;
  color: white;
  //border-radius: 5px;
  border-radius: 0 4px 4px 0;
}