.authdiv {
  top:300px;
  display: flex;
  justify-content: center;
}
.button {
  font-weight: bold;
  color: white;
  margin-top: 15%;
  display: inline-block;
  width: 330px;
  height: 45px;
  text-align: center;
  background-color: #5181b8;
  font-size: 25px;
  border: none;
  font-family: 'Roboto', Тahoma, sans-serif;
  border-radius: 8px;
  white-space: nowrap;
}

@media screen and (max-width: 370px) {
  .button {
    width: 300px;
    height: 40px;
    font-size: 20px;
  }
}
@media screen and (max-width: 320px) {
  .button {
    width: 280px;
    height: 37px;
    font-size: 18px;
  }
}